<!DOCTYPE html>
<html>
<head>
    <title>dll</title>
    <link href="#springUrl('')/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="#springUrl('')/uploadify/jquery-3.0.0.min.js"></script>
    <script src="#springUrl('')/bootstrap/js/bootstrap.min.js"></script>


    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
##    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>

    <script src="#springUrl('')/bootstrap/js/fileinput.min.js"></script>
    <link href="#springUrl('')/bootstrap/css/fileinput.min.css" type="text/css"/>

    <link rel="stylesheet" href="#springUrl('')/uploadify/uploadify.css"/>
    <script src="#springUrl('')/uploadify/jquery.uploadify.min.js"></script>
    <style type="text/css">
        #logout{
            position: absolute;
            right: 20px;
            top: 20px;
        }
    </style>

    <script>

    </script>
</head>
<body>
<div class='container-fluid'>
    <h2 class='page-header'>客户端更新</h2>

    <li id = "logout">$!{username}<a href="#logout"> 退出</a></li>

    <div class='tabbable tabs-left'>

        <ul id="myTab" class="nav nav-tabs">
            <li class="active">
                <a href="#home" data-toggle="tab">
                    HOME
                </a>
            </li>
            <li><a href="#upload" data-toggle="tab">上传dll</a></li>
            <li><a href="#release" data-toggle="tab">打包</a></li>
        </ul>

        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="home">
                <div class="jumbotron">
                    <h1>客户端更新</h1>
                    <p>Hello $!{username}！</p>
                    <p>这里是教程。</p>
                    </p>
                </div>
            </div>
            <div class="tab-pane fade" id="upload">
                <div class="jumbotron"></div>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="module" class="col-sm-2 control-label">选择模块</label>
                        <div class="col-sm-1">
                            <select class="form-control" id="module">
                                <option value="CenterPrint">CenterPrint</option>
                                <option value="Check">Check</option>
                                <option value="Checkstock">Checkstock</option>
                                <option value="InnerCheck">InnerCheck</option>
                                <option value="InnerLocate">InnerLocate</option>
                                <option value="InnerLocate">InnerLocate</option>
                                <option value="InnerShip">InnerShip</option>
                                <option value="InnerTask">InnerTask</option>
                                <option value="InnerWave">InnerWave</option>
                                <option value="Master">Master</option>
                                <option value="MoveStock">MoveStock</option>

                                <option value="OTM">OTM</option>
                                <option value="pack">pack</option>
                                <option value="Picking">Picking</option>
                                <option value="Putaway">Putaway</option>
                                <option value="Receiving">Receiving</option>
                                <option value="ReceScheduling">ReceScheduling</option>
                                <option value="Shipment">Shipment</option>
                                <option value="SmartQuery/Reports">SmartQuery</option>
                                <option value="SmartQueryNew/Reports">SmartQueryNew</option>
                                <option value="TaskAssign">TaskAssign</option>
                                <option value="Wave">Wave</option>

                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">选择库房</label>
                        <div class="col-sm-2">
                            <label class="checkbox-inline">
                                <input type="checkbox" id="checkboxgz" value="warehouse"> 广州
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" id="checkboxguan" value="warehouse"> 固安
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" id="checkboxsz" value="warehouse"> 深圳
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" id="checkboxsh" value="warehouse"> 上海
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="log" class="col-sm-2 control-label">更新内容</label>
                        <div class="col-sm-2">
                            <textarea class="form-control" rows="3" id="log"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">选择文件</label>
                        <div class="col-sm-2">
                            <input type="file" name="uploadify" id="fileupload"/>
                        </div>

                        <div class="col-sm-offset-1 col-sm-2">
                            <input type="button" class="btn btn-default" onclick="UploadFile()" value="上传"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-pane fade" id="release">
                <div class="jumbotron"></div>
                <form class="form-horizontal" role="form">

                    <div class="form-group">
                        <label class="col-sm-2 control-label">选择库房</label>
                        <div class="col-sm-2">
                            <label class="checkbox-inline">
                                <input type="checkbox" id="gzRelease" value="warehouse"> 广州
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" id="guanRelease" value="warehouse"> 固安
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" id="szRelease" value="warehouse"> 深圳
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" id="shRelease" value="warehouse"> 上海
                            </label>
                        </div>
                        <input type="button" class="btn btn-default" onclick="Release()" value="打包"/>
                    </div>

            </div>
            </form>
        </div>
    </div>
</div>

</div>

<script type="text/javascript">
    module = new String();
    userName = new String();
    function Release() {
        releaseWarehouses = new Array();
        if ($('#gzRelease').is(':checked')) {
            releaseWarehouses.push('gz');
        }
        if ($('#guanRelease').is(':checked')) {
            releaseWarehouses.push('guan');
        }
        if ($('#shRelease').is(':checked')) {
            releaseWarehouses.push('sh');
        }
        if ($('#szRelease').is(':checked')) {
            releaseWarehouses.push('sz');
        }
        if (releaseWarehouses.length == 0) {
            alert("warehouse can't be null");
            return false;
        }
        $.post("/release",
                {
                    'warehouse': releaseWarehouses
                },
                function (response) {
                    if(response == "success")
                        alert("success!");
                    else
                        alert("failed!");
                });

//        document.getElementById("description").submit()

    }


    function UploadFile() {
        //校验
        userName = document.getElementById("logout").nodeValue;
        module = $('#module').val();
        uploadWarehouses = new Array();
        if (module.replace(/\s/g, '') == '') {
            alert("module can't be null");
            return false;
        }
        if ($('#checkboxgz').is(':checked')) {
            uploadWarehouses.push('gz');
        }
        if ($('#checkboxguan').is(':checked')) {
            uploadWarehouses.push('guan');
        }
        if ($('#checkboxsh').is(':checked')) {
            uploadWarehouses.push('sh');
        }
        if ($('#checkboxsz').is(':checked')) {
            uploadWarehouses.push('sz');
        }
        if (uploadWarehouses.length == 0) {
            alert("warehouse can't be null");
            return false;
        }
        var log = $('#log').val();
        if (log.replace(/\s/g, '') == '') {
            alert("description can't be null");
            return false;
        }
        $.post("/log",
                {
                    'warehouse': uploadWarehouses,
                    'description': log
                },
                function (data, status) {
                });

//        document.getElementById("description").submit()

        $("#fileupload").uploadify('upload', '*');
    }

    $(function () {
        $("#fileupload").uploadify({
            'height': 27,
            'width': 80,
            'buttonText': 'file',
            'swf': '/uploadify/uploadify.swf',
            'uploader': '/upload',
            //'cancelImg' : '/uploadify/uploadify-cancel.png',
            'auto': false,
            'multi': true,
            'queueSizeLimit': 10,
            'simUploadLimit': 10,
            'onUploadStart': function (file) {

                $("#fileupload").uploadify("settings", "formData", {
                    'userName': $('#logout').val(),
                    'module':  $('#module').val(),
                    'warehouse': uploadWarehouses
                });
            },
            'onCancel': function (event, queueID, fileObj) {
                //alert('The file ' + file.name + '--' + file.size + ' was cancelled.');
            },
            //上传成功
            'onUploadSuccess': function (file, data, response) {
                if (!response) {
                    alert("failed");
                }
            },
            //上传错误
//            'onUploadError': function (file, errorCode, errorMsg, errorString) {
//                alert("failed");
//            }
        });
    });


    $(document).ready(function() {
        $("#logout").click(function() {
            var param="param="+(new Date()).getMilliseconds();
            jQuery.ajax({
                type:'post',//可选get
                url:"#springUrl('/logout')",
                data:param,
                dataType:'text',
                cache:false,
                success:function(msg){
                    if(msg=='success'){
                        parent.location.reload();
                    }else {
                        parent.location = msg;
                    }
                }
            })
        });
    });

</script>


</body>
</html>