#set($layout = "layout/null.vm")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>首页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <link href="http://www.360buy.com/favicon.ico" rel="shortcut icon">
</head>
<frameset rows="90, *" border="0">
    <frame src="/top?v=$!dateTool.getSystemTime()" id="frame_top" name="top" border="no" scrolling="no" />
    <frameset cols="250, *">
        <frame src="/menu?v=$!dateTool.getSystemTime()" id="frame_menu" name="menu" border="no" />
        <frame src="/index" id="frame_main" name="main" border="no" />
    </frameset>
</frameset>
<noframes><body>
</body>
</noframes>
</html>

