#set($layout = "layout/null.vm")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>首页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <link href="http://www.360buy.com/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" type="text/css" href="#springUrl('')/static/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="#springUrl('')/static/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="#springUrl('')/static/css/page.css"/>
    <script type="text/javascript" src="#springUrl('')/static/js/jquery.js"></script>
    <script type="text/javascript" src="#springUrl('')/static/js/main.js"></script>
    <script type="text/javascript" src="#springUrl('')/static/js/jqModal.js"></script>
    <script type="text/javascript" src="#springUrl('')/static/js/jqBtnSelect.js"></script>
</head>
<body style='overflow-x: hidden; overflow-y: auto;'>
<div id="container" class="w-menu clearfix" style="margin-left: 20px">
    <div id="menu">
        <ul class="menu_lev1">
            <li>
                <a class="tit_lev1 noNext" target="main" href="/index"><span>数据交换中心</span></a>
            </li>
            #if($!{isAdmin} == 1)
                <li>
                    <a class="tit_lev1 closed" target="main" href="javascript:void(0);"><span>注册管理</span></a>
                    <ul class="menu_lev2">
                        <li>
                            <a class="tit_lev2 noNext" target="main" href="/consumer/consumerListInit"><span>普通消费者</span></a>
                        </li>
                        <li>
                            <a class="tit_lev2 noNext" target="main" href="/consumer/warehouseListInit"><span>库房消费者</span></a>
                        </li>
                        <li>
                            <a class="tit_lev2 noNext" target="main" href="/producer/businessListInit"><span>生产者</span></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="tit_lev1 closed" target="main" href="javascript:void(0);"><span>通道管理</span></a>
                    <ul class="menu_lev2">
                        <li>
                            <a class="tit_lev2 noNext" target="main" href="/node/nodeListInit"><span>节点</span></a>
                        </li>
                        <li>
                            <a class="tit_lev2 noNext" target="main" href="/nodeFlow/nodeFlowListInit"><span>通道</span></a>
                        </li>
                        <li>
                            <a class="tit_lev2 noNext" target="main" href="/nodeFlow/subRouteListInit"><span>路由切换</span></a>
                        </li>
                    </ul>
                </li>
            #end
            <li>
                <a class="tit_lev1 closed" target="main" href="javascript:void(0);"><span>异常管理</span></a>
                <ul class="menu_lev2">
                    <li>
                        <a class="tit_lev2 noNext" target="main" href="/exceptionLog/index"><span>异常监控</span></a>
                    </li>
                    <li>
                        <a class="tit_lev2 noNext" target="main" href="/exceptionLog/indexOut"><span>超时异常监控</span></a>
                    </li>
                    <li>
                        <a class="tit_lev2 noNext" target="main" href="/exceptionLog/indexOutCount"><span>超时异常数量监控</span></a>
                    </li>
                    #if($!{isAdmin} == 1)
                        <li>
                            <a class="tit_lev2 noNext" target="main" href="/exceptionLog/deleteData"><span>删除过期数据</span></a>
                        </li>
                    #end
                </ul>
            </li>
            #if($!{isAdmin} == 1 || $!{alarmAdd})
                <li>
                    <a class="tit_lev1 closed" target="main" href="javascript:void(0);"><span>报警管理</span></a>
                    <ul class="menu_lev2">
                        <li>
                            <a class="tit_lev2 noNext" target="main" href="/alarm/initAlarm"><span>报警配置</span></a>
                        </li>
                    </ul>
                </li>
            #end
            #if($!{isAdmin} == 1)
                <li>
                    <a class="tit_lev1 closed" target="main" href="javascript:void(0);"><span>业务监控</span></a>
                    <ul class="menu_lev2">
                        <li>
                            <a class="tit_lev2 noNext" target="main" href="/chart/toPage"><span>流量监控</span></a>
                        </li>
                    </ul>
                </li>
            #end
            <li>
                <a class="tit_lev1 closed" target="main" href="javascript:void(0);"><span>日志查询</span></a>
                <ul class="menu_lev2">
                    <li>
                        <a class="tit_lev2 noNext" target="main" href="/processlog/logNoIndex"><span>按单号查询</span></a>
                    </li>
                </ul>
            </li>
            #if($!{isAdmin} == 1)
                <li>
                    <a class="tit_lev1 closed" target="main" href="javascript:void(0);"><span>字典管理</span></a>
                    <ul class="menu_lev2">
                        <li>
                            <a class="tit_lev2 noNext" target="main" href="/dictionary/dictionaryInit"><span>字典表</span></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="tit_lev1 closed" target="main" href="javascript:void(0);"><span>客户端注册管理</span></a>
                    <ul class="menu_lev2">
                        <li>
                            <a class="tit_lev2 noNext" target="main" href="/client/clientListInit"><span>客户端</span></a>
                        </li>
                    </ul>
                </li>
            #end
            #if($!{isAdmin} == 1 || $!{userAdd})
                <li>
                    <a class="tit_lev1 closed" target="main" href="javascript:void(0);"><span>用户管理</span></a>
                    <ul class="menu_lev2">
                        <li>
                            <a class="tit_lev2 noNext" target="main" href="/userPermission/initUser"><span>用户查询</span></a>
                        </li>
                    </ul>
                </li>
            #end
##            #foreach($menu1 in $treeResList)
##                <li>
##                    <a #if ((! $menu1.href) || ("$!menu1.href" == "")) href="#" #else href="#springUrl('')$!{menu1.href}" target="main" #end class="tit_lev1"><span>$!{menu1.text}</span></a>
##                    #if(${menu1.children})
##                        <ul class="menu_lev2">
##                            #foreach($menu2 in ${menu1.children})
##                                <li>
##                                    <a #if ((! $menu2.href) || ("$!menu2.href" == "")) href="#" #else href="#springUrl('')$!{menu2.href}" target="main" #end class="tit_lev2"><span>$!{menu2.text}</span></a>
##                                    #if(${menu2.children})
##                                        <ul class="menu_lev3">
##                                            #foreach($menu3 in ${menu2.children})
##                                                <li><a href="#springUrl('')$!{menu3.href}" class="tit_lev3" target="main"><span>$!{menu3.text}</span></a></li>
##                                            #end
##                                        </ul>
##                                    #end
##                                </li>
##                            #end
##                        </ul>
##                    #end
##                </li>
##            #end
        </ul>
    </div>
</div>
</body>
</html>

