<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.1.xsd
            http://www.springframework.org/schema/mvc
            http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd">


    <!-- mvc controller -->
    <context:component-scan base-package="com.jd.deploy.controller">
        <!--<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Service"/>-->
        <!--<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Repository"/>-->
        <!--<context:exclude-filter type="regex" expression="com.jd.josl.privilege.sdk4app.spring.LoginoutEndpoint"/>-->
    </context:component-scan>

    <context:annotation-config/>

    <mvc:default-servlet-handler/>

    <!-- JSR-303 support will be detected on classpath and enabled automatically -->
    <mvc:annotation-driven/>

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <!-- Spring mvc 单点登录拦截器bean  -->
            <bean id="springSSOInterceptor" class="com.jd.common.springmvc.interceptor.SpringSSOInterceptor"
                  init-method="initialize">
                <property name="appDomainName" value="${webapp.domain.name}"/>
                <property name="appHomeUrl" value="http://${webapp.domain.name}/"/>
                <property name="loginUrl" value="${login.address}"/>
                <property name="ssoDomainName" value="${sso.auth.cookie.domain}"/>
                <property name="excludePath" value="${sso.exclude.path}"/>
                <property name="ssoService" ref="ssoService"/>
            </bean>
        </mvc:interceptor>
        <!--<mvc:interceptor>-->
            <!--<mvc:mapping path="/logout" />-->
            <!--<bean class="com.jd.josl.privilege.sdk4app.security.ext.LogoutInterceptor">-->
                <!--<property name="cookies">-->
                    <!--<array>-->
                        <!--<bean class="javax.servlet.http.Cookie">-->
                            <!--<constructor-arg index="0" value="${webapp.domain.name}"></constructor-arg>-->
                            <!--<constructor-arg index="1" value=""></constructor-arg>-->
                            <!--<property name="domain" value="${webapp.domain.name}"/>-->
                        <!--</bean>-->
                    <!--</array>-->
                <!--</property>-->
            <!--</bean>-->
        <!--</mvc:interceptor>-->
        <!--<mvc:interceptor>-->
            <!--<mvc:mapping path="/**"/>-->
            <!--&lt;!&ndash; Spring mvc 权限拦 截器bean  &ndash;&gt;-->
            <!--<bean id="springAuthorizationInterceptor"-->
                  <!--class="com.jd.common.springmvc.interceptor.SpringAuthorizationInterceptor">-->
                <!--<property name="hrmPrivilegeHelper" ref="hrmPrivilegeHelper"/>-->
            <!--</bean>-->
        <!--</mvc:interceptor>-->
    </mvc:interceptors>

    <!--<bean id="hrmPrivilegeHelper" class="com.jd.common.hrm.HrmPrivilegeHelper">-->
        <!--<property name="uimKey" value="${uim.key}"/>-->
        <!--<property name="uimToken" value="${uim.token}"/>-->
        <!--<property name="uimUrl" value="${uim.url}"/>-->
    <!--</bean>-->

     <!--template view -->
    <bean id="velocityConfig" class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
        <property name="resourceLoaderPath" value="/WEB-INF/views/"/>
        <property name="velocityProperties">
            <map>
                <entry key="input.encoding" value="UTF-8"/>
                <entry key="output.encoding" value="UTF-8"/>
                <entry key="contentType" value="text/html;charset=UTF-8"/>
                <entry key="velocimacro.library" value="macro/macro.vm"/>
            </map>
        </property>
    </bean>
    <bean id="velocityViewResolver" class="org.springframework.web.servlet.view.velocity.VelocityLayoutViewResolver">
        <property name="layoutUrl" value="layout/default.vm"/>
        <property name="cache" value="false"/>
        <property name="suffix" value=".vm"/>
        <property name="exposeSpringMacroHelpers" value="true"/>
        <property name="dateToolAttribute" value="dateTool"/>
        <property name="numberToolAttribute" value="numberTool"/>
        <!-- Merge urlBuilderMap to view context for convenience. You can put your tools which must be thread safe. -->
        <!--<property name="attributesMap" ref="_urlBuilderMap"/>-->
        <property name="contentType" value="text/html;charset=UTF-8"/>
    </bean>
    <!--<bean class="com.jd.academy.sy.technic.security.permission.tag.ResourceVelocityTagDirective"/>-->
    <bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
        <property name="defaultContentType" value="text/html"/>
        <!-- not by accept header -->
        <property name="ignoreAcceptHeader" value="true"/>
        <!-- by extension -->
        <property name="mediaTypes">
            <map>
                <entry key="xml" value="application/xml"/>
                <entry key="json" value="application/json"/>
            </map>
        </property>
        <property name="viewResolvers">
            <list>
                <ref bean="velocityViewResolver"/>
            </list>
        </property>
        <property name="defaultViews">
            <list>
                <bean class="org.springframework.web.servlet.view.json.MappingJacksonJsonView"/>
            </list>
        </property>
    </bean>

    <!-- locale related -->
    <bean id="localeResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
        <property name="cookieName" value="_clientlocale"/>
        <property name="defaultLocale" value="zh_CN"/>
        <property name="cookieMaxAge" value="2147483647"/>
    </bean>

    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="maxUploadSize" value="50000000"/>
    </bean>

</beans>